<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Force Graph Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style src="/static/css/graph"></style>
</head>

<body>
<!-- Tippy -->
{#<script src="https://unpkg.com/tippy.js@2.5.2/dist/tippy.all.min.js"></script>#}
<script src="/static/tippy.js@2.5.2.min.js"></script>
<!-- d3 lib -->
{#<script src="https://d3js.org/d3.v3.min.js"></script>#}
<script src="/static/d3.v3.min.js"></script>
<div id="d3-graph"></div>
<script src="/static/js/graph.js"></script>
</body>

</html>